.voronoi {
	fill: none;
	stroke:none;
	pointer-events: all;
}
.tt-bg {
	fill: rgba(255,255,255,0.5);
}

.vlabel {
	text-anchor: middle;
}
.vhighlight {
	fill: #ff3965;
	stroke: none;
}

.tt-xaxis, .tt-yaxis {
	stroke: url(#tt_hgrad);
	shape-rendering: crispEdges;
}
.tt-xaxis {
	stroke: url(#tt_vgrad);
}

.tt-x-label {
	text-anchor: middle;
}


.tt_line_stop_begin {
	stop-color: #9b6bbf;
}
.tt_line_stop_end {
	stop-color: #f73d82;
	stop-opacity: 0.5;
}