@import	url("//fonts.googleapis.com/css?family=Open+Sans:700,400,300");

.voronoi {
	fill: none;
	stroke:none;
	pointer-events: all;
}
.tt-bg {
	fill: rgba(255,255,255,0.5);
}

.vlabel {
	text-anchor: middle;
}
.vhighlight {
	fill: #ff3965;
	stroke: none;
}

.tt-xaxis, .tt-yaxis {
	stroke: url(#tt_hgrad);
	shape-rendering: crispEdges;
	opacity: 0.4;
}
.tt-xaxis {
	stroke: url(#tt_vgrad);
}

.tt-x-label, .tt-y-label {
	font-family: 'Open Sans', sans-serif;
	fill: #9b6bbf;
	font-size: 14px;
	font-weight: 600;
	opacity: 0.6;
}


.tt_line_stop_begin {
	stop-color: #9b6bbf;
}
.tt_line_stop_end {
	stop-color: #f73d82;
	/*stop-opacity: 0.5;*/
}