.area {
	fill: rgba(0,0,0,0.1);
	stroke: none;
}

.line {
	fill: none;
	stroke: steelblue;
	shape-rendering: geometricPrecision;
}

.axis-label {
	fill: #000;
}

.axis-label-x {
	text-anchor: end;
}

.zero-line {
	stroke: #989898;
	shape-rendering: crispEdges;
	stroke-dasharray: 3;
}